Myfinalwork (2).json
{
  "name": "Myfinalwork",
  "nodes": [
    {
      "parameters": {
        "person": "2mZ9fvBqF9",
        "text": "={{ $('AgentJudge').item.json.output }}\nFollow for more!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95d3686a-bb7c-41e2-9185-92198ddbb74a",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "L0MXEt2e5m2uK1qr",
          "name": "LinkedIn account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7848489613",
        "text": "=Posted on LinkedIn  {{ $('AgentJudge').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "634775fc-cba1-4c3f-a692-54c72530b8fb",
      "name": "Send a text message",
      "webhookId": "f150b2be-f8e6-435a-9935-afbbffbab8cb",
      "credentials": {
        "telegramApi": {
          "id": "tmTE5J0ldM4z1gWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfbd97a2-33fe-406a-afae-6895a07b4c47",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        112
      ],
      "id": "692fee3e-bebd-427c-ac61-2398e50fb717",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "vsalgm1994@gmail.com",
        "subject": "Approval",
        "message": "=Do you approve it? \n\n{{ $json.output }}\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -496,
        176
      ],
      "id": "fc8bca18-179a-4841-8d19-0070582cf521",
      "name": "Send message and wait for response",
      "webhookId": "c9941a51-81c1-44df-bbe7-7bc2c5948ebd",
      "credentials": {
        "gmailOAuth2": {
          "id": "ET0Z7NKAOFQEEFug",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -48,
        224
      ],
      "id": "c624f005-8a42-400f-a416-30a11ab205a0",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2160,
        208
      ],
      "id": "8cc5c13a-43ab-469e-8fc9-646467181c77",
      "name": "Telegram Trigger",
      "webhookId": "f07ff987-a272-4838-a127-d36460c50415",
      "credentials": {
        "telegramApi": {
          "id": "tmTE5J0ldM4z1gWx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "needsFallback": true,
        "options": {
          "systemMessage": "=Use  {{ $json.message.text }}to generate LinkedIn post.\n\nWrite an engaging and informative LinkedIn post on the topic.\nStart with an attention-grabbing hook that entices readers to read further.\nProvide valuable insights or actionable tips related to the topic.\nThe tone should be professional, clear, and concise, using language that's easy to understand.\nEnd with a call to action (CTA) encouraging the audience to engage, reflect, or share their thoughts.\nInclude relevant hashtags to increase engagement and visibility on LinkedIn. Make sure these hashtags are specific to the topic and aligned with trending keywords for LinkedIn posts.\nInclude the text generated in the email to approve.\nAlso do not include the text like \"Absolutely\".\nIf post is not approved from the first time, then in case it is requested a new post for LInkedIN.\nIf for the second time the post us approved then continue with the workflow."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1824,
        -240
      ],
      "id": "8453d6e5-a972-4332-b300-98c306a894ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1968,
        592
      ],
      "id": "e0a35afb-1246-41bd-b699-4801c967f0bc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ap8pwBqrPJpA1cyz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=Use  {{ $json.message.text }} to generate LinkedIn post.\n\nWrite an engaging and informative LinkedIn post on the topic.\nStart with an attention-grabbing hook that entices readers to read further.\nProvide valuable insights or actionable tips related to the topic.\nThe tone should be professional, clear, and concise, using language that's easy to understand.\nEnd with a call to action (CTA) encouraging the audience to engage, reflect, or share their thoughts.\nInclude relevant hashtags to increase engagement and visibility on LinkedIn. Make sure these hashtags are specific to the topic and aligned with trending keywords for LinkedIn posts.\nInclude the text generated in the email to approve.\nAlso do not include the text like \"Absolutely\".\n\n\n {{ $json.message.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1824,
        416
      ],
      "id": "a17895e9-8435-437d-b058-817d00ec3cae",
      "name": "AI Agent2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1088,
        192
      ],
      "id": "60912699-b5a2-40d5-a9fb-91aebe1e7205",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Agent 1>{{ $('AI Agent').item.json.output }}</Agent1>\n<Agent 3>{{ $('AI Agent2').item.json.output }}</Agent 3>\n",
        "options": {
          "systemMessage": "You go through the results provided by two AI agents and combine them into a single cohesive output based on the uniqueness of the know-how information. Always choose the most unique and interesting information for the post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -880,
        192
      ],
      "id": "ebe640f2-6e0a-4594-931f-9f9ef7208bf4",
      "name": "AgentJudge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1808,
        -16
      ],
      "id": "c4599387-5963-455e-9998-0ed42e308593",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "JfsGnbL2vEEHfWg5",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1824,
        688
      ],
      "id": "8dcbb507-efb5-485b-99db-37a9b0c96ebd",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "JfsGnbL2vEEHfWg5",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1648,
        0
      ],
      "id": "5a98b70d-50e5-4949-9733-8b8605d26cd2",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LemY7VOkDzlLrGi0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -960,
        448
      ],
      "id": "f3e95a7b-32c5-4285-8ecf-9fd10b60cfb3",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "JfsGnbL2vEEHfWg5",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create a post": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AgentJudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgentJudge": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AgentJudge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0944853e-289a-43b0-b9de-7951efef1ac0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "004060820433971467469152241980a70b4ef124997d83a8479ea0d3c501421f"
  },
  "id": "AMicvjRcPGIMEQVM",
  "tags": []
}